$font-family: 'Assistant', sans-serif;
$font-size-heading: 3em;
$font-size-sub-heading: 2.3em;
$font-size-big-heading:2.2em;
$font-size-text: 1.0em;
$color-site-yellow: #FFD830;
$color-site-black:#096A2E ;
$color-site-light-green: #B3D489;
* {
    margin: 0;
    padding: 0;
  }
 
  .hero{
    height:75vh;
    width: 99vw;

}
.about-us {
  padding: 50px 0;
  background-color: $color-site-light-green;
  font-family: $font-family;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 35px 20px;
}

.content-wrapper {
  display: flex;
  text-align: right;
}

.text {
  order: 1;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
 align-items: flex-start;
 justify-content: center;

}

.image {
  order: 2;
  text-align: center;
  background-color: $color-site-black;
  clip-path: ellipse(28% 35% at 50% 50%);}
h2 {
  font-size:3em;
  font-weight: 700;
  margin-bottom: 20px;
  color: $color-site-black;
  text-align: center;
}
.separator{
  width: 80px;
    height: 2px;
    background-color: $color-site-black;
    margin: 0 auto;
    margin-bottom: 30px;
}
p {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10px;
  color: $color-site-black;
  font-family: $font-family;
}

img {
  max-width: 100%;
}
.warpper{
  display: flex;
  justify-content: center;
  margin: auto;
}
.start-button  {
  text-align:center;
  font-size: 18px;
  padding: 10px 70px;
  margin: 10px 0vw ;
  background-color: $color-site-light-green;
  color:$color-site-black;
  border: solid 2px $color-site-yellow;
  background-color: $color-site-yellow;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Assistant', sans-serif;

}
.column1mobile{
 display: none;   
}

.values {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.value {
  width: 100%;
  margin-bottom: 30px;
}
.value_icon{
  width: 80px;
  height: 80px;
 }
.h3{
  font-size: 1.2em;
  color:$color-site-light-green;
  font-family: $font-family;
  font-weight: 800;
}
@media (max-width: 767px){

  .column1mobile{
    display: block;

  }
  .hero{
    display: none;
   

  }
  .heromobile{
    height: 70vh;
    width: 100vw;
    padding-right: 0.5em;
  }
.content-wrapper {
flex-direction: column-reverse;

}
.about-us{
  padding: 10px 0px;
}
.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0px;
}
.image{
  margin-left: 12vw;
}
.h2 {
  margin-right: 5vw;}
  .text{
    margin:0vw 10vw 5vw 5vw;
  }
  .start-button{
    margin-bottom: 5vh;
  }
}